<div style="margin: 3rem">
  <div style="margin: 3rem">
    <h1>Editing Review Lodging</h1>
    <span>
       <%= link_to 'Show', @review_lodging, class: "btn btn-outline-dark align-content-center float-end"%>
      <%= link_to 'Back', review_lodgings_path, class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 5px"%>
    </span>
  </div>


  <%= render 'form', review_lodging: @review_lodging %>


</div>