
<div style="margin: 3rem">
  <div style="margin: 3rem">
    <h1>Editing User</h1>
    <span>
      <%= link_to 'Show', @user, class: "btn btn-outline-dark align-content-center float-end"%>
      <%= link_to 'Back', users_path, class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 5px"%>
   </span>
  </div>


  <%= render 'form',  user: @user %>


</div>