<div style="margin: 3rem">
  <div style="margin: 3rem">
    <h1>New Review User</h1>

    <span>
    <%= link_to 'Back', review_users_path, class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 5px"%>
    </span>
  </div>


  <%= render 'form', review_user: @review_user %>

</div>